<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Omelette</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  
    <style>
        *
        {
            font-family: montserrat;
        }
        #t2
        {
            margin-left: 51%;
            font-size: 18px;
        }
        #t1
        {
            color: #DB6310;    
            margin-right: -8px;
            transition: 1s;
            border-bottom: 1px solid transparent;
        }
        img
        {
            border-radius: 25px;
            position: absolute;
            right: 0;
            margin-right: 17px;
            padding-left: 10px;
            transition: 0.56s;
        }
        #cal
        {
            position: absolute;
            right: 0;
            padding-right: 150px;
            
        }
        #title
        {
            margin: 0px;
            margin-top: 10px;
            padding-left: 20px;
            font-size: 35px;
        }
        #pic
        {
            padding-top: 20px;
        }
        #line
        {
            width: 100%;
            height: 2px;
            background-color: black;
            margin: 20px 0;
        }
        #recipe
        {
            border: 2px solid black;
            margin-top: 20px;
            border-radius: 20px;
        }
        img:hover{
            width :560px;
            height:310px;
        }
        #t1:hover
        {
            border-bottom: 1px solid #DB6310;
        }
    </style>
    <script>
    $(document).ready(function()
    {
        $("#headtext").css("text-align","left");
        $("#headtext").css("font-family","montserrat");
        $("#headtext").css("color","black");
        $("#head").css("background-color","white");
    });
    </script>
</head>
<body>
    <div id="head" style=" border: 1px solid black; padding: 0px ; margin: 0px;">
        <p id="headtext" style="font-size: 30px; margin: 0px; padding-left: 10px; padding: 15px;"> <span id="t1">College Cal
        </span>orie Cookbook  <span id="t2">Hello <%= user.charAt(0).toUpperCase() +user.slice(1) %></span>  <a href="/users/Logout" style="padding-left: 30px; font-size: 25px;">Logout</a>
    </div></p>
    </div>
    
    <div id="recipe">
        <p id="title" style="padding-top: 20px;">
            <span id="t1" style="padding-right: 7px;">Classic</span> Omelette
        </p>
        <div id="pic" style="padding: 0%;">
            <img src="/images/8.png" width ="550" height="300">
        </div>
        <div  style="width: 55%; padding-left: 20px;">
            <p>
                Whip up a delicious and fluffy Omelette with this simple recipe. Whether it's breakfast, brunch, or a quick snack, an omelette is always a satisfying choice. Customize it with your favorite fillings and enjoy!
            </p>
            <div id="line"></div>
            <br>
            <span id="t1" style="font-size: 23px;">
            Required Ingredients:
        </span>
        <p>
            1. Eggs<br>2. Milk<br>3. Salt<br>4. Black Pepper<br>5.Oil
        </p>
        </div>
        <div style="padding-left: 20px;">
        <span id="t1" style="font-size: 23px;">
            Instructions:
        </span>
        <p>
            <span id="t1" style="font-size: 18px;">Time to cook (For real now)</span><br>
            1. Crack the eggs into a bowl and add a splash of milk(it is the key for a smooth and fluffy omelette). <br>Season with salt and black pepper, then whisk until well combined.<br>
            2. Heat a pan over medium heat and add a little oil to it.<br>
            <div id="cal">

                <p id="t1" style="font-size: 23px;">
                    Calories:<br></p>
                    <p style="font-size: 28px;">
                    Appox, 300 -320
                </p>
                </div>
            3. Once the pan is hot, pour the eggs into the pan, make sure they are evenly spread.<br>
            4. As the omelette starts to set around the edges, use a spatula to gently lift the cooked edges.<br>tilt the pan to allow the uncooked eggs to flow underneath.<br>

            5. Cook for another minute or so until the omelette is cooked through and the fillings are heated.<br>
            8. Cooking is done. Omelette is ready.<br>
        </p>
        </div>

        <p>
            Check this for reference:<a href="https://youtu.be/p3EwVIpzFjI?si=bFo4-i8ybFvZtEKf">
                Omelette
            </a>
        </p>
    </div>
    
</body>
</html>
